.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally (optional) */
    align-items: center; /* Center items vertically (optional) */
    width: 100vw; 
    height: 100vh;

}
.child {
    background-color: blue;
    border: 1px solid #ccc;
    box-sizing: border-box;
 
    transition: background-color 0.3s ease;
}